

.team-container{
    width: 100%;
    background-color: aliceblue;
    height: 70vh;
    text-align: center;

}

.team-container a{
    float: right;
    margin-top: 47vh;
    margin-right: 20px;

}
.team-container a:hover{
    text-decoration: none;
}